$color-primary: #468EF9;
$color-secondary: #0C66EE;
$color-font: #222222;

$color-grablue: #3984F4;
$color-gra2blue: #0CD3FF;
$color-gra3blue: #2F7CF0;
$color-gra4blue: #0E65E8;

$color-spanpurple: #E5C5FF;
$color-span2purple:  #A532FF;

/*Logo bg gradient*/

$color-logobg1: #FFFFFFB2;
$color-logobg2: #FFFFFF99;
$color-logobg3: #F4F9FFB2;

/*p color*/
$color-paragraph:  #666666;


