@use "../abstracts/variables";


header {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(70, 142, 249, 0.3)
  );
  .container {
    .header-write {
      position: relative;
      padding-left: 70px;
      .fa-star {
        font-size: 1.5rem;
        background: linear-gradient(
          141.34deg,
          variables.$color-span2purple 12.04%,
          variables.$color-spanpurple 87.96%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        left: 436px;
      }
      h6 {
        color: variables.$color-primary;
      }
      h1 {
        font-family: "Poppins";
        font-size: calc(2.5rem + 0.75vw);
        font-weight: 700;
      }
      span {
        background: linear-gradient(
          to top,
          variables.$color-grablue,
          variables.$color-gra2blue
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p {
        font-family: Poppins, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0em;
      }
      .login-out {
        button {
          width: 180px;
          height: 60px;
        }
      }
      .fa-circle {
        font-size: 1rem;
        background: linear-gradient(
          141.34deg,
          variables.$color-span2purple 12.04%,
          variables.$color-spanpurple 87.96%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        left: 26px;
      }
    }
  }
}
